/* TopHeader Css */
html{
  background:rgba(28,19,38);

}
*{
  box-sizing: border-box;
}
.topheader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background:rgba(28,19,38);
  font-size: 12px;
}
.first{
  margin-left: 10px;
  color:rgba(161,151,170);
}
.second{
  color:rgba(228,37,117);
}
.yellow{
color: rgba(255,170,0);
}
/* TopHeader Css End */

.right_section{
  background:rgba(28,19,38);
  width: calc(100% - 240px);

}
.heading{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.heading h1{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: white;
}
.toggle{
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  height: 35px;
  align-items: center; 
  border-radius: 20px;
  font-size: .75rem;
  border: 1px solid rgba(36,24,47,rgb(241, 158, 246));
}
.toggle p:nth-child(1){
  border-radius: 20px;
  padding: 10px;
  margin-top: 15px;
 background-color:  rgba(228,37,117);
   color: rgba(248,247,248)
}
.toggle p:nth-child(2),.toggle p:nth-child(3){
  padding: 10px;
  margin-top: 15px;
}
/* rgba(36,24,47, */
.card{
  border-color: rgba(36,24,47);
}

/* footer section */
.logo_desc{
  margin-top: 100px;
}
.logo_desc p{
  color:lightgray
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section_2{
  display: flex;
  justify-content: space-around;
  gap: 200px;
  margin-top: 80px;
  align-items: flex-start;
}
.section_2 h4{
  color:#fff
}
.section_2  p{
  color:lightgray
}
.section_2 ul li{
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .section_2{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
  }
}
@media only screen and (max-width: 720px) {
  .section_2{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
  }
}